<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body>

<div class="container">
  <h2>Tipo de Estado de las Pólizas</h2>
 
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Ingreso Nuevo Tipo de Estado</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          <!-- MODAL DIALOG -->
          <div class="widget">
              <div class="widget-content" style="align-items: inherit">
                <button class="btn btn-primary btn-lg" style="margin-left: 40%" data-toggle="modal"
                  data-target="#myModal">Ingresar un nuevo Estado</button>
                
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                      </div>
                      <div class="modal-body">
                        <!-- SUPPOR TICKET FORM -->
                        <div class="widget">
                          <div class="widget-header">
                            <h3><i class="fa fa-edit"></i> Ingreso de Datos</h3>
                          </div>
                          <div class="widget-content">
                            <form (ngSubmit)="ingresarEstado()" class="form-horizontal" role="form">
                              <fieldset>
                                <legend>Nuevo Estado de Pólizas</legend>
                                <div class="form-group">
                                    <label for="ticket-type" class="col-sm-3 control-label">Descripción:</label>
                                    <div class="col-sm-9">
                                      <input [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}" type="text"
                                        class="form-control" id="descripción" placeholder="Descripción del Estado" required>
                                    </div>
                                  </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                  <button type="submit" data-dismiss="modal" (click)="ingresarEstado()"
                                    class="btn btn-success">Guardar Estado</button>&nbsp;&nbsp;
                                  <input type="reset" class="btn btn-info" value="Limpiar Campos">
                                </div>
  
                              </fieldset>
                            </form>
                          </div>
                        </div>
                        <!-- END SUPPORT TICKET FORM -->
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i
                            class="fa fa-times-circle"></i> Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- END MODAL DIALOG -->
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Modificar y Eliminar un Tipo de Estado</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_jqgrid" dir="ltr"
            style="width: 1180px;">
            <div class="ui-widget-overlay jqgrid-overlay" id="lui_jqgrid" style="display: none;"></div>
            <div class="loading ui-state-default ui-state-active" id="load_jqgrid" style="display: none;">Loading...
            </div>
            <div class="ui-jqgrid-view" id="gview_jqgrid" style="width: 1180px;">
              <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix"><a role="link"
                  class="ui-jqgrid-titlebar-close HeaderButton" style="right: 0px;"><span
                    class="ui-icon ui-icon-circle-triangle-n"></span></a></div>
              <div class="ui-state-default ui-jqgrid-hdiv" style="width: 600px;">

              </div>
              <div class="ui-jqgrid-bdiv" style="height: 280px; width: 500px; margin-left: 40%">
                <div style="position:relative;">
                  <div></div>
                  <!-- 
                         <table id="jqgrid" class="table table-striped table-hover ui-jqgrid-btable" tabindex="0" cellspacing="0" cellpadding="0" border="0" role="grid" aria-multiselectable="true" aria-labelledby="gbox_jqgrid" style="width: 998px;">
                           -->
                  <font size="2">
                    <table id="datatable-basic-scrolling" class="ui-jqgrid-htable" role="grid"
                      aria-describedby="datatable-basic-scrolling_info" style="width: 100%;">
                      <thead>
                        <tr class="ui-jqgrid-labels" role="rowheader">
                          <th id="jqgrid_myac" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr"
                            style="width: 35px;">
                            <span class="ui-jqgrid-resize ui-jqgrid-resize-ltr"
                              style="cursor: col-resize;">&nbsp;</span>
                            <div id="jqgh_jqgrid_myac" class="ui-jqgrid-sortable"> <span class="s-ico"
                                style="display:none"><span sort="asc"
                                  class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span
                                  sort="desc"
                                  class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span>
                            </div>
                          </th>
                          <th id="jqgrid_client_id" role="columnheader"
                            class="ui-state-default ui-th-column ui-th-ltr" style="width: 50px;">
                            <span class="ui-jqgrid-resize ui-jqgrid-resize-ltr"
                              style="cursor: col-resize;">&nbsp;</span>
                            <div id="jqgh_jqgrid_client_id" class="ui-jqgrid-sortable">ID <span class="s-ico"
                                style="display:none"><span sort="asc"
                                  class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span
                                  sort="desc"
                                  class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span>
                            </div>
                          </th>
                          <th id="jqgrid_invdate" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr"
                            style="width: 150px;">
                            <span class="ui-jqgrid-resize ui-jqgrid-resize-ltr"
                              style="cursor: col-resize;">&nbsp;</span>
                            <div id="jqgh_jqgrid_invdate" class="ui-jqgrid-sortable">DESCRIPCIÓN<span
                                class="s-ico" style="display:none"><span sort="asc"
                                  class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span
                                  sort="desc"
                                  class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span>
                            </div>
                          </th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="jqgfirstrow" role="row" style="height:auto">
                          <td role="gridcell" style="height:0px;width:25px;"></td>
                          <td role="gridcell" style="height:0px;width:80px;"></td>
                          
                        </tr>
                        <tr *ngFor="let objDatos of vecEstados"
                          class="ui-widget-content jqgrow ui-row-ltr ui-state-hover">
                          <td role="gridcell" title="" aria-describedby="jqgrid_myac">
                            <div style="margin-left:8px;">
                              <a title="Modificar" href="/template/modificarEstado?id={{objDatos.idestado}}"><img
                                  src="assets\images\editar.PNG" width="20" height="20"></a>
                              <a title="Eliminar" href="/template/eliminaEstador?id={{objDatos.idestado}}"><img
                                  src="assets\images\eliminar.PNG" width="20" height="20"></a>
                            </div>
                          </td>
                          <td role="gridcell">{{objDatos.idestado}}</td>
                          <td role="gridcell">{{objDatos.descripcionestado}}</td>
                      </tbody>
                    </table>
                  </font>
                  <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-6">
                      <div id="datatable-basic-scrolling_filter" class="dataTables_filter">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui-jqgrid-resize-mark" id="rs_mjqgrid">&nbsp;</div>
            <div id="jqgrid-pager" class="ui-state-default ui-jqgrid-pager ui-corner-bottom" dir="ltr"
              style="width: 1016px;">
              <div id="pg_jqgrid-pager" class="ui-pager-control" role="group">
                <table cellspacing="0" cellpadding="0" border="0" class="ui-pg-table"
                  style="width:100%;table-layout:fixed;height:100%;" role="row">
                  <tbody>
                    <tr>
                      <td id="jqgrid-pager_left" align="left">
                        <table cellspacing="0" cellpadding="0" border="0" class="ui-pg-table navtable"
                          style="float:left;table-layout:auto;">
                          <tbody>
                            <tr>
                              <td class="ui-pg-button ui-corner-all" title="Reload Grid" id="refresh_jqgrid">
                                <div class="ui-pg-div"><span class="ui-icon ui-icon-refresh"
                                    (click)="ConsumoEstado()"></span></div>
                              </td>
                              <td class="ui-pg-button ui-corner-all" title="Find records" id="search_jqgrid">
                                <div class="ui-pg-div">                                     
                                  <span class="ui-icon ui-icon-search" data-toggle="modal"data-target="#buscar"></span>
                                </div>

                              </td>

                            </tr>
                          </tbody>
                          
            <div class="modal fade" id="buscar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                  </div>
                  <div class="modal-body">
                      
                          <div class="widget-header">
                            
                          </div>
                          <div class="widget-content">
                            <form (ngSubmit)="buscarEstado()" class="form-horizontal" role="form">
                              <fieldset>
                                <legend>Búsqueda de Estado</legend>
                                <div class="form-group">
                                  <label for="ticket-type" class="col-sm-3 control-label">Id de Estado:</label>
                                  <div class="col-sm-9">
                                    <input [(ngModel)]="idEstado" [ngModelOptions]="{standalone: true}" type="text"  class="form-control" id="idestado" placeholder="Id de Estado a Buscar" >
                                  </div>
                                </div>
          <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit"  (click)="buscarEstado()" style="margin-left: 3em" data-dismiss="modal" class="btn btn-success">Buscar Estado</button>
                                  </div>
                              </fieldset>
                              </form>
                          </div>
                        </div>
                 
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i
                        class="fa fa-times-circle"></i>Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
                        </table>
                      </td>

                    </tr>
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>


          
        </div>
      </div>
    </div>
    
  </div> 
</div>
    
</body>
</html>