<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="container">
        <h2>Tipo de Estado de las Pólizas</h2>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Ingreso Nuevo Tipo de Estado</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <!-- MODAL DIALOG -->
                        <div class="widget">
                            <div class="widget-content" style="align-items: inherit">
                                <button class="btn btn-primary btn-lg" style="margin-left: 40%" data-toggle="modal" data-target="#myModal">Ingresar un nuevo Estado</button>

                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel"></h4>
                                            </div>
                                            <div class="modal-body">
                                                <!-- SUPPOR TICKET FORM -->
                                                <div class="widget">
                                                    <div class="widget-header">
                                                        <h3><i class="fa fa-edit"></i> Ingreso de Datos</h3>
                                                    </div>
                                                    <div class="widget-content">
                                                        <form class="form-horizontal" role="form">
                                                            <fieldset>
                                                                <legend>Nuevo Estado de Pólizas</legend>
                                                                <div class="form-group">
                                                                    <label for="ticket-type" class="col-sm-3 control-label">Descripción:</label>
                                                                    <div class="col-sm-9">
                                                                        <input [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="descripción" placeholder="Descripción del Estado" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-offset-3 col-sm-9">
                                                                    <button type="submit" data-dismiss="modal" (click)="ingresarEstado(descripcion)" class="btn btn-success">Guardar Estado</button>&nbsp;&nbsp;
                                                                    <input type="reset" class="btn btn-info" value="Limpiar Campos">
                                                                </div>

                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- END SUPPORT TICKET FORM -->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                                  class="fa fa-times-circle"></i> Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL DIALOG -->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Modificar y Eliminar un Tipo de Estado</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <!--Eliminar-->
                    <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel"></h4>
                                </div>
                                <div class="modal-body">

                                    <div class="widget-header">

                                    </div>
                                    <div class="widget-content">
                                        <form (ngSubmit)="eliminarCobertura()" class="form-horizontal" role="form">
                                            <fieldset>
                                                <legend>¿Está seguro que desea eliminar el tipo de Estado?</legend>

                                                <div>
                                                    <button type="submit" (click)="eliminarCobertura()" style="float: left; margin-left: 6em;" data-dismiss="modal" class="btn btn-success">Eliminar Estado</button>
                                                    <button type="button" style="float: right; margin-right: 6em;" data-dismiss="modal" class="btn btn-default">Cancelar</button>

                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!--fin eliminar-->
                    <table id="dt" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let objDatos of vecEstados">
                                <td>
                                    <div>
                                        <a title="Modificar" href="/template/modificarEstado?id={{objDatos.idestado}}"> <button data-toggle="modal" data-target="#modificar"><img src="assets\images\editar.PNG" width="20" height="20"></button></a>
                                        <button (click)="eliminarEstado(objDatos.idestado)"><img src="assets\images\eliminar.PNG " width="20 " height="20 "></button>
                                    </div>
                                </td>
                                <td>{{objDatos.idestado}}</td>
                                <td>{{objDatos.descripcionestado}}</td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Descripción</th>

                            </tr>
                        </tfoot>
                    </table>
                    <!-- FIN TABLA DE BUSQUEDA -->
                </div>
            </div>

        </div>
    </div>

</body>

</html>