<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <h2>Pólizas de Seguro</h2>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Ingreso de una Nueva</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">

          <!-- MODAL DIALOG -->
          <div class="widget">

            <div class="widget-content" style="align-items: inherit">
              <button class="btn btn-primary btn-lg" style="margin-left: 45%" data-toggle="modal"
                data-target="#myModal">Ingresar una nueva Póliza</button>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                      <!-- SUPPOR TICKET FORM -->
                      <div class="widget">
                        <div class="widget-header">
                          <h3><i class="fa fa-edit"></i> Ingreso de Datos</h3>
                        </div>
                        <div class="widget-content">
                          <form (ngSubmit)="ingresarPoliza()" class="form-horizontal" role="form">
                            <fieldset>
                              <legend>Información General</legend>
                              <div class="form-group">
                                <label for="ticket-type" class="col-sm-3 control-label">Aseguradora:</label>
                                <div class="col-sm-9">
                                  <select id="idaseguradora" [(ngModel)]="idaseguradora" name="idaseguradora" class="form-control input-sm"
                                    type="text" placeholder=".input-sm">
                                    <option value="1">Seguros Colonial (Quito)</option>
                                    <option value="2">Seguros Colnial QBE</option>
                                    <option value="3">Seguros Oriente</option>
                                    <option value="4">Aseguradora del Sur</option>
                                    <option value="5">Seguros Equinoccial</option>
                                    <option value="6">Latina de Seguros y Reaseguros</option>
                                    <option value="7">Banco del Pichincha</option>
                                    <option value="8">Seguros Confianza</option>
                                    <option value="9">Banco Internacional</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="ticket-type" class="col-sm-3 control-label">Cobertura:</label>
                                <div class="col-sm-9">
                                  <select id="idcobertura" [(ngModel)]="idcobertura" name="idcobertura" class="form-control input-sm" type="text"
                                    placeholder=".input-sm">
                                    <option value="1">Buen uso de Anticipo</option>
                                    <option value="2">Cumplimiento de Contrato</option>
                                    <option value="3">Garantía Bancaria</option>
                                    <option value="4">Certificación de depósito a plazo fijo</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="ticket-type" class="col-sm-3 control-label">Contrato:</label>
                                <div class="col-sm-9">
                                  <input [(ngModel)]="idcontrato" [ngModelOptions]="{standalone: true}" type="text"  class="form-control" id="idcontra" placeholder="Id de contrato" required>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="ticket-type" class="col-sm-3 control-label">Número de Póliza:</label>
                                <div class="col-sm-9">
                                  <input type="text" [(ngModel)]="numpoliza" [ngModelOptions]="{standalone: true}" class="form-control" id="numpol" placeholder="Número de Póliza" required>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="ticket-type" class="col-sm-3 control-label">Estado:</label>

                                <div class="col-sm-9">
                                  <select id="idestado" [(ngModel)]="idestado" name="idestado" class="form-control input-sm" type="text"
                                    placeholder=".input-sm">
                                    <option value="1">Vigente</option>
                                    <option value="2">Caducada</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="ticket-message" class="col-sm-3 control-label">Fecha inicial de
                                  Cobertura:</label>
                                <div class="col-sm-9">
                                  <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="date" [(ngModel)]="finicob" [ngModelOptions]="{standalone: true}"  id="finicob" class="form-control" required> 
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="ticket-message" class="col-sm-3 control-label">Fecha pago de
                                  Anticipo:</label>
                                <div class="col-sm-9">
                                  <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="date" [(ngModel)]="fpagoant" [ngModelOptions]="{standalone: true}" id="fpagoant" class="form-control">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="ticket-message" class="col-sm-3 control-label">Vencimiento fecha
                                  Inicial:</label>
                                <div class="col-sm-9">
                                  <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="date" [(ngModel)]="vencini" [ngModelOptions]="{standalone: true}" id="fvencini" class="form-control" required>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="ticket-message" class="col-sm-3 control-label">Vencimiento fecha
                                  Final:</label>
                                <div class="col-sm-9">
                                  <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="date" [(ngModel)]="vencfin" [ngModelOptions]="{standalone: true}" id="fvencfin" class="form-control" required>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="ticket-message" class="col-sm-3 control-label">Observaciones</label>
                                <div class="col-sm-9">
                                  <textarea class="form-control" [(ngModel)]="observaciones" [ngModelOptions]="{standalone: true}" name="observaciones" id="observaciones" rows="4"
                                    cols="30" placeholder="Message"></textarea>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="ticket-type" class="col-sm-3 control-label">Número de Renovación:</label>
                                <div class="col-sm-9">
                                  <input type="number" [(ngModel)]="numrenov" [ngModelOptions]="{standalone: true}" class="form-control" id="numrenov"
                                    placeholder="N° Renovación" min="1" max="500">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="ticket-type" class="col-sm-3 control-label">Valor Inicial:</label>
                                <div class="col-sm-9">
                                  <input type="text" [(ngModel)]="valini" [ngModelOptions]="{standalone: true}" class="form-control" id="valini" placeholder="$" required>
                                </div>
                              </div>
                              <div class="form-group">
                                  <label for="ticket-type" class="col-sm-3 control-label">Valor Final:</label>
                                  <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="valfin" [ngModelOptions]="{standalone: true}" class="form-control" id="valfin" placeholder="$" required>
                                  </div>
                                </div>
                            </fieldset>
                            <fieldset>
                              <legend>Agregar PFD</legend>
                                <div class="form-group">
                                <label for="ticket-attachment" class="col-sm-3 control-label">Adjuntar Archivo</label>
                                <div class="col-md-9">
                                  <input type="file" [(ngModel)]="polpdf" [ngModelOptions]="{standalone: true}" accept=".pdf" id="polizaPDF">
                                  <p class="help-block"><em>Tipo de Archivo válido: .pdf</em></p>
                                </div>
                              </div>
                              
                                <div class="col-sm-offset-3 col-sm-9">
                                  <button type="submit" (click)="ingresarPoliza()" data-dismiss="modal"  class="btn btn-success">Guardar Póliza</button>&nbsp;&nbsp;
                                  <input type="reset" class="btn btn-info" value="Limpiar Campos">
                                </div>
                              
                            </fieldset>
                          </form>
                        </div>
                      </div>
                      <!-- END SUPPORT TICKET FORM -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i
                          class="fa fa-times-circle"></i> Cerrar</button>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END MODAL DIALOG -->
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Mostrar y modificar</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Mostrar y Eliminar</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
      </div>
    </div>
  </div>

  <p>{{idaseguradora}}</p>
  <p>{{idcobertura}}</p>
  <p>{{idcontrato}}</p>
  <p>{{numpoliza}}</p>
  <p>{{idestado}}</p>
  <p>{{finicob}}</p>
  <p>{{fpagoant}}</p>
  <p>{{vencini}}</p>
  <p>{{vencfin}}</p>
  <p>{{observaciones}}</p> 
  <p>{{numrenov}}</p>
  <p>{{valini}}</p>
  <p>{{valfin}}</p>
  <p>{{polpdf}}</p>
</body>

</html>
