<!doctype html>
<html lang="en" class="no-js">

<head>
  <title>Sistema de Control de Pólizas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="DTIC | SistemaControlPolizas">
  <meta name="author" content="DTIC">
</head>
<body class="topnav-fixed">
  <div id="wrapper" class="wrapper">
    <app-app-header></app-app-header>
    <app-app-aside></app-app-aside>
    <app-app-content></app-app-content>
    <app-app-footer></app-app-footer>
  </div>
</body>

</html>