<!-- TOP BAR -->
<div class="top-bar navbar-fixed-top">
    <div class="container">
        <div class="clearfix">
            <a class="pull-left toggle-sidebar-collapse">
                <i class="fa fa-bars"></i>
            </a>
            <!-- logo -->
            <div class="pull-left left ">
                <a>
                    <img [src]="'assets/ImagenesPlantillas/espoch.png'" style="margin-right: 0.5em" width="40" height="40" alt=" " />
                    <img [src]="'assets/ImagenesPlantillas/dtic-blanco.png'" width="130" height="40" alt=" " />
                </a>
                <h4 class="logo2" style="margin-left: 8em">
                    <strong>SISTEMA DE CONTROL DE PÓLIZAS</strong>
                </h4>
            </div>
            <!-- end logo -->
            <div class="pull-right right">
                <!-- search box -->
                <!-- end search box -->
                <!-- top-bar-right -->
                <div class="top-bar-right">
                    <div class="notifications">
                        
                            <!-- end notification: general -->
                        
                    </div>
                    <!-- logged user and the menu -->
                    <div class="logged-user">
                        <div class="btn-group">
                            <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                <img [src]="'assets/ImagenesPlantillas/user-avatar.png'" width="30" alt=" " />
                                <span class="name"> Usuario  </span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-power-off"></i>
                                        <span class="text"> Salir</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end logged user and the menu -->
                </div>
                <!-- end top-bar-right -->
            </div>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- END TOP BAR -->